{% extends "::layout/layout.html.twig" %}

{% block titre %}{{ produit.nom }}{% endblock %}
{% block description %}{{ produit.description }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="span3">
                {% include '::modulesUsed/navigation.html.twig' %}
                {% render(controller('EcommerceBundle:Panier:menu')) %}
            </div>	

            <div class="span9">
                <div class="row">
                    <div class="span5">
                        <img src="{{ asset(produit.image.AssetPath) }}" alt="{{ produit.image.name }}" width="470" height="310">
                    </div>

                    <div class="span4">
                        <h4>{{ produit.nom }}</h4>
                        <h5>{{ produit.categorie.nom }}</h5>
                        <p>{{ produit.description }}</p>
                        <h4>{{ produit.prix|tva(produit.tva.multiplicate) }} €</h4>
                        {% if panier[produit.id] is not defined %}
                        <form action="{{ path('ajouter', { 'id' : produit.id }) }}" method="get">
                            <select name="qte" class="span1">
                                {% for i in 1..10 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>

                            <div>
                                <button class="btn btn-primary">Ajouter au panier</button>
                            </div>
                        </form>
                        {% else %}
                            <div>
                                <a href="{{ path('panier') }}" class="btn btn-primary">Le produit est déjà dans votre panier</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}