{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Categories list</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('adminCategories_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>
                    <a href="{{ path('adminCategories_show', { 'id': entity.id }) }}"><i class="icon-book"></i></a>
                    <a href="{{ path('adminCategories_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('adminCategories_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
